
<nav class="navbar navbar-expand-lg">
    <a asp-area="" class="navbar-brand" asp-controller="Home" asp-action="Index">
        <img src="~/img/onmedical_logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">

        <ul class="navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="secondary-button nav-link " asp-area="" asp-controller="consultas" asp-action="Index">Minhas Consultas</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="secondary-button2 dropdown-toggle" role="button" id="dropdownMenuButtonName" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Olá, @User.Identity.Name
                    </a>
                    <div class="dropdown-menu text-dark" aria-labelledby="dropdownMenuButtonName">
                        @if (User.IsInRole("Medico"))
                        {
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Medicos" asp-action="Edit" asp-route-id="@User.Claims.Where(x=>x.Type == "Id").Select(x=>x.Value).FirstOrDefault()">Meus dados</a>
                        }
                        else
                        {
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Pacientes" asp-action="Edit" asp-route-id="@User.Claims.Where(x=>x.Type == "Id").Select(x=>x.Value).FirstOrDefault()">Meus dados</a>
                        }
                        @if (User.Claims.Any(x => x.Value == "Medico"))
                        {
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Medicos" asp-action="Logout">Logout</a>
                        }
                        else
                        {
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Pacientes" asp-action="Logout">Logout</a>

                        }
                    </div>
                </li>

            }

        </ul>
    </div>
</nav>
