@model ProjetoSegundoSemestre.Models.Consulta

@{
    ViewData["Title"] = "Create";
}
*@await Component.InvokeAsync("Menu")
<h1>Create</h1>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<StatusConsulta>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Agenda.Id" class="control-label">Id Agenda</label>
                <input asp-for="Agenda.Id" class="form-control" value="@(ViewContext.RouteData.Values["id"])"/>
                <span asp-validation-for="Agenda.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">MINHAS CONSULTAS</a>
    <a class="secondary-button" asp-area="" asp-action="Index">SAIR</a>
</div>

