@model ProjetoSegundoSemestre.Models.Consulta

@{
    ViewData["Title"] = "Editar Agenda";
}
*@await Component.InvokeAsync("Menu")
<div class="cabecalho-login mt-5 row d-flex flex-column align-items-center">
    <h6>BEM-VINDOS AO ONMEDICAL - MÉDICO!</h6>
    <h1>CADASTRAR AGENDA</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="@Model.Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">VOLTAR</a>
</div>

