@model ProjetoSegundoSemestre.Models.Agenda

@{
    ViewData["Title"] = "Delete";
}
*@await Component.InvokeAsync("Menu")
<div class="cabecalho-login mt-5 row d-flex flex-column align-items-center">
    <h6>BEM-VINDOS AO ONMEDICAL - MÉDICO!</h6>
</div>

<div class="container">
    <div id="div-delete-agenda" class="col-md-12">

        <h3>Você realmente deseja deletar este horário ?</h3>
        <div>
            <h4>Agenda</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DataHoraInicioConsulta)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DataHoraInicioConsulta)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DataHoraFimConsultaConsulta)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DataHoraFimConsultaConsulta)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index" role="button" class="btn btn-info">Voltar</a>
            </form>
        </div>


    </div>
</div>
