@model ProjetoSegundoSemestre.Models.Paciente

@{
    ViewData["Title"] = "Login";
}

@*<div class="header-primary">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/img/onmedical_logo.png" />
    </a>
    <div class="login-home">
        <a class="secondary-button" asp-area="" asp-controller="Home" asp-action="Index">VOLTAR</a>
    </div>
</div>*@

<div>
    <div class="header-primary">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/onmedical_logo.png" />
        </a>
        <div class="login-home">
            <a class="secondary-button" asp-area="" asp-controller="Home" asp-action="Index">VOLTAR</a>
        </div>
    </div>

    <div class="welcome-paciente">

        <div class="cabecalho-login row d-flex flex-column align-items-center">
            <h6>BEM-VINDOS AO ONMEDICAL - PACIENTE</h6>
            <h1>Login</h1>
        </div>
        <div class="row d-flex flex-column align-items-center form-container">
            <div class="col-md-4 col-sm-6">
                <form class="form-login" asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Senha" class="control-label"></label>
                        <input asp-for="Senha" class="form-control" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>

                    <div class="form-group div-btn">
                        <input type="submit" value="Fazer login como Paciente" class="login-btn btn btn-primary" />
                    </div>
                    <h3> @ViewBag.Message </h3>
                    <a asp-controller="Pacientes" asp-action="Create"><u>Não tem cadastro? Clique aqui!</u></a>
                </form>
            </div>
        </div>

    </div>

</div>

@*<div class="cabecalho-login row d-flex flex-column align-items-center">
    <h6>BEM-VINDOS AO ONMEDICAL!</h6>
    <h1>Login</h1>
</div>

<div class="row d-flex flex-column align-items-center form-container">
    <div class="col-md-4 col-sm-6">
        <form class="form-login" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <div class="form-group div-btn">
                <input type="submit" value="Fazer login como Paciente" class="login-btn btn btn-primary" />
            </div>
            <h3> @ViewBag.Message </h3>
            <a asp-controller="Pacientes" asp-action="Create"><u>Não tem cadastro? Clique aqui!</u></a>
        </form>
    </div>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

