@model ProjetoSegundoSemestre.Models.Medico

@{
    ViewData["Title"] = "Create";
}
<div class="header-primary">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/img/onmedical_logo.png" />
    </a>
    <div class="login-home">
        <a class="secondary-button" asp-area="" asp-controller="Home" asp-action="Index">VOLTAR</a>
    </div>
</div>
<div class="row d-flex flex-column align-items-center cabecalho">
    <h4>BEM-VINDOS AO ONMEDICAL DO MÉDICO</h4>
    <h2>Cadastre-se</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="offset-md-3" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome Completo</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especialidade" class="control-label"></label>
                <select asp-for="Especialidade" asp-items="Html.GetEnumSelectList<Especialidade>()" class="form-control"></select>
                <span asp-validation-for="Especialidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CRM" class="control-label"></label>
                <input asp-for="CRM" class="form-control" />
                <span asp-validation-for="CRM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label">Confirme a Senha</label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            
            <div class="btns d-flex flex-column align-items-center">
            <label class="container">
                <input type="checkbox" value="" id="defaultCheck1">
                Concordo em compartilhar as informações acima com o ONMEDICAL
                <span class="checkmark"></span>
            </label>
            </div>
            

            <div class="form-group div-btn">
                <input type="submit" value="Cadastrar" class="login-btn btn btn-primary" />
            </div>


        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
