<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoSegundoSemestre</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar-expand-sm navbar-toggleable-sm ">
            <div class="cabecalho d-flex justify-content-between">
                
            </div>
        </nav>
    </header>
    <div class="container-body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-2 d-flex justify-content-between">
            <div class="text">
                <p>&copy; 2022 - OnMedical</p>
                <p>Todos os direitos reservados</p>
            </div>
            <div class="social-media">
                <a>
                    <img src="~/img/facebook 1.png" />
                </a>
                <a>
                    <img src="~/img/instagram 1.png" />
                </a>
                <a>
                    <img src="~/img/youtube 1.png" />
                </a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
