/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  /*word-break: break-all;*/
}

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}*/

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.cabecalho {
    margin: 0 10% 0 10%;
}

.navbar {
    background-color: #F7F9F9;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

body {
    background-color: #F7F9F9;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

}

.footer {
    position: absolute;
    height: 15%;
    bottom: 0;
    background-color: #1971C2;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.footer p {
    color: #FFFAF1;
}

.footer-2 {
    margin: 0 10% 0 10%;
}

.footer-2 .social-media {
    margin: auto 0 auto 0;   
}

.footer-2 .social-media img {
    margin-right: 20px;
}

.footer-2 .text {
    margin: auto 0 auto 0;
}
    /*
    Create Médico
*/
    div.cabecalho h4 {
        color: #1971C2;
        font-size: 25px;
        letter-spacing: 0.08em;
    }

div.cabecalho h2 {
    font-size: 52px;
    font-weight: 600;
    line-height: 52px;
}

form.custom-class {
    flex-wrap: wrap;
    height: 45vh;
    position: relative;
}

div.form-group {
    margin-top: 20px;
}

div.form-group label {
    font-size: 16px;
    color: #1971C2;
    font-weight: 700;
    letter-spacing: 0.08em
}

    div.form-group input {
        width: 60%;
        min-width: 60%;
        border: 1px solid rgba(25, 113, 194, .5);
        margin-top: 10px;
        border-radius: 10px;
    }

    div.form-group select {
        width: 60%;
        min-width: 60%;
        border: 1px solid rgba(25, 113, 194, .5);
        border-radius: 10px;
    }


div.btns {
    position: absolute;
    bottom: -20%;
    left: 20%;
    margin: 0 auto 0 auto;
    font-size: 16px;
    color: #1971C2;
    font-weight: 700;
}

    div.form-check label.check-btn {
        margin-bottom: 20px;
    }


    div.buttons .btn {
        width: 147px;
        border-radius: 10px;
    }

#defaultCheck1 {
    /*margin-top: 40px;*/
    width: 3%;
}

/*@media (max-width: 575.98px) {
    form {
        display: flex;
        flex-direction: column;
    }
}*/

@media (max-width: 768px) {
    html, body {
        height: 100vh;
    }
    form.custom-class {
        display: flex;
        flex-wrap: nowrap;
        height: 1100px;
        margin-top: 30px;
    }

    div.btns {
        position: absolute;
        bottom: 100px;
        margin-bottom: 20px;
    }

    .footer {
        position: fixed;
        height: 10%;
        bottom: 0;
    }

}