/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/dmsans-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans Medium';
    src: url('../fonts/dmsans-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans Bold';
    src: url('../fonts/dmsans-bold.ttf') format('truetype');
}

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}*/

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.cabecalho {
    margin: 0 10% 0 10%;
}

.navbar {
    background-color: #F7F9F9;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

body {
    background-color: #F7F9F9;
    font-family: 'DM Sans';
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.footer {
    background-color: #1971C2;
    width: 100vw;
    white-space: nowrap;
    line-height: 60px;
}

    .footer p {
        color: #FFFAF1;
    }

.footer-2 {
    margin: 0 10% 0 10%;
}

    .footer-2 .social-media {
        margin: auto 0 auto 0;
    }

        .footer-2 .social-media img {
            margin-right: 20px;
        }

    .footer-2 .text {
        margin: auto 0 auto 0;
    }

/*
    Telas login
*/
 
div.cabecalho-login h6 {
    color: #1971C2;
    margin-top: 15px;
    margin-bottom: 70px;
}

div.form-container form.form-login div.form-group input {
    width: 100%;
}

div.form-container form.form-login div.form-group label {
    margin-bottom: 0px;
}

div.form-container form.form-login div.div-btn {
    text-align: center;
}

div.form-container form.form-login a {
    display: block;
    text-align: center;
    margin-top: 50px;
}

div.form-container form.form-login div.form-group input.login-btn {
    width: 40%;
    margin-top: 40px;
}

/*
    Create Médico
*/


div.cabecalho h4 {
    color: #1971C2;
    font-size: 25px;
    letter-spacing: 0.08em;
}

div.cabecalho h2 {
    font-size: 52px;
    font-weight: 600;
    line-height: 52px;
}

form.custom-class {
    flex-wrap: wrap;
    height: 45vh;
    position: relative;
}

div.form-group {
    margin-top: 20px;
}

    div.form-group label {
        font-size: 16px;
        color: #1971C2;
        font-weight: 700;
        letter-spacing: 0.08em
    }

    div.form-group input {
        width: 60%;
        min-width: 60%;
        border: 1px solid rgba(25, 113, 194, .5);
        margin-top: 10px;
        border-radius: 10px;
    }

    div.form-group select {
        width: 60%;
        min-width: 60%;
        border: 1px solid rgba(25, 113, 194, .5);
        border-radius: 10px;
    }


div.btns {
    margin: 0 auto 0 auto;
    font-size: 16px;
    color: #1971C2;
    font-weight: 700;
}

div.form-check label.check-btn {
    margin-bottom: 20px;
}


div.buttons .btn {
    width: 147px;
    border-radius: 10px;
}

#defaultCheck1 {
    /*margin-top: 40px;*/
    width: 3%;
}

/*@media (max-width: 575.98px) {
    form {
        display: flex;
        flex-direction: column;
    }
}*/

@media (max-width: 768px) {
    html, body {
        height: 100vh;
    }

    form.custom-class {
        display: flex;
        flex-wrap: nowrap;
        height: 1100px;
        margin-top: 30px;
    }

    div.form-container form.form-login div.form-group input {
        width: 80%;
    }

    div.btns {
        position: absolute;
        bottom: 100px;
        margin-bottom: 20px;
    }

    .footer {
        position: fixed;
        height: 10%;
        bottom: 0;
    }
}

@media (max-width: 992px) {
    div.form-container form.form-login div.form-group input {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    div.form-container form.form-login div.form-group input {
        width: 100%;
    }
}


/* Screen Home styles  */


.body-home p {
    color: #495057;
    margin-top: 10px;
}

.body-home h6 {
    color: #1971C2;
    font-family: 'DM Sans Bold';
    font-size: 14px;
    letter-spacing: 1.5px;
}

.body-home h2 {
    margin-top: 20px;
    font-size: 28px;
    letter-spacing: 2px;
    font-family: 'DM Sans Bold';
    font-weight: bold;
}

.welcome-section {
    background-color: #D0EBFF;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}

.welcome-container {
    display: flex;
    justify-content: space-around
}

.welcome-info {
    margin: 80px 0 20px 50px;
}

.primary-button {
    padding: 20px;
    border-radius: 20px;
    border: none;
    background-color: #1971C2;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.btn-home {
    margin-top: 60px;
    padding: 14px;
    white-space: nowrap;
}

a.btn-home:hover {
    color: white;
    text-decoration: none;
}

.title-welcome {
    font-size: 38px;
    letter-spacing: 2px;
    font-family: 'DM Sans Bold';
    font-weight: bold;
}


.welcome-section img {
    object-position: right;
}


.service-card {
    background-color: #fff;
    border: 1px solid #D0EBFF;
    border-radius: 10px;
    min-width: 220px;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 100px;
}

.services-section h2 {
    text-align: center;
}

.service-card h4 {
    font-family: 'DM Sans Bold';
    margin-top: 10px;
    font-size: 22px;
}


.services-section h6 {
    margin-top: 100px;
    text-align: center;
}

.about-section {
    background-color: #FFFAF1;
}

.about-container {
    display: flex;
    gap: 40px;
    padding: 100px;
    align-items: center;
}

.doctor-container {
    display: flex;
    gap: 40px;
    padding: 100px;
    align-items: center;
}


.header-primary {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.login-home {
    margin: 40px 40px 0 0;
}

.secondary-button {
    padding: 15px;
    border-radius: 40px;
    border: 1px solid #1971C2;
    background-color: rgb(0,0,0, 0.0);
    color: #1971C2;
    font-family: 'DM Sans Bold';
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin: 4px
}

.secondary-button2 {
    padding: 15px;
    border-radius: 40px;
    border: 1px solid #1971C2;
    background-color: rgb(0,0,0, 0.0);
    color: #1971C2;
    font-family: 'DM Sans Bold';
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin: 4px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1040px) {
    .welcome-section {
        background-color: #D0EBFF;
        min-height: 50vh;
        flex-direction: column
    }

    .header-primary {
        flex-direction: column;
    }

    .secondary-button {
        display: flex;
        justify-content: center;
    }

    .welcome-container img {
        display: none;
    }

    .services-container {
        grid-template-columns: 1fr;
    }

    .service-card {
        height: 350px;
        min-width: 250px;
    }


    .title-welcome {
        font-size: 28px;
    }

    .doctor-container {
        flex-direction: column
    }

    .about-container {
        flex-direction: column
    }

    .doctor-text {
        max-width: 200px;
    }

    .about-section img {
        height: 200PX;
        object-fit: scale-down;
    }

    .doctor-section img {
        height: 200px;
        object-fit: scale-down;
    }

    .home-btn {
        padding: 8px;
        font-size: 10px;
    }
}

/* Tela cadastro agenda*/

div#div-cadastro-agenda.row.mt-5 {
    height: 80vh;
}

    /* Tela login médico*/
    .loginmedico {
        background-color: #88feb2;
        min-height: 50vh;
        flex-direction: column
    }

        .loginmedico h1 {
            font-family: 'DM Sans Bold';
            margin-top: 10px;
            font-size: 22px;
        }

    .imgmedico {
        text-align: center;
    }

    .form-group div-btn {
        align-items: center;
        background-color: red;
    }
}

/* 
    TELA AGENDA INDEX
*/

div#pesquisar-medico div#btn-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#pesquisar-medico div#btn-filtro button {
    width: 250px;
    height: 40px;
}

div#pesquisar-medico input.input-pesquisa,
div#pesquisar-medico button {
    width: 90%;
}

div#div-cards div.cards-agenda {
    border-radius: 15px;
    border: 1px solid rgba(25, 113, 194, .5);
}

div#div-cards div.cards-agenda button {
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
}

div#div-cards {
    margin-top: 100px;
  
}

div#div-cards div.cards-agenda {
    margin-bottom: 70px;
}

div#div-cards div.cards-agenda p.paragrafo {
    color: #1971C2;
}

.schedule-btn {
    color: #fff;
    padding: 20px;
    width: 100%;
}

div.btn-medico .toschedule-medico {
    color: #fff;
    padding: 20px;
    border: none;
    background-color: #1971C2;
    color: white;
    height: 200px;
    min-width: 100px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    width: 100%;
}


/* Consultas Cards */

.patient-index h6 {
  display:flex;
  justify-content:center;
    color: #1971C2;
    font-family: 'DM Sans Bold';
    font-size: 14px;
    letter-spacing: 1.5px;
}


.patient-index h4 {
    margin: 40px;
    font-family: 'DM Sans Medium';
    letter-spacing: 1.5px;
}


.search-medical {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin: 60px 100px;
}

.appointmentCard {
    background-color: #fff;
    border: 1px solid #D0EBFF;
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
}

.schedule-container {
    padding: 150px 100px;
    display:flex;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
}

.toschedule {
    color: #fff;
    padding: 20px;
    border: none;
    background-color: #1971C2;
    color: white;
    height:200px;
    min-width:100px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    
}

.content-schedule {
 padding:20px;
}

.schedule-info {
    margin:10px 0;
    display: flex;
    color: #1971C2;
    font-family: 'DM Sans Bold';
    font-size: 14px;
    letter-spacing: 1.5px;
}
.address-medical{
    display: flex;
    color: #495057;
    font-family: 'DM Sans Bold';
    font-size: 16px;
    letter-spacing: 1.5px;
}

.id-medical {
    display: flex;
    font-family: 'DM Sans Bold';
    letter-spacing: 1.5px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 768px) {
    .search-medical {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 10px;
    }

    .toschedule {
        height: 265px;
        min-width: 130px;
        font-size: 12px;
    }

    .schedule-container {
        padding: 150px 100px;
        display: flex;
        gap: 30px;
        justify-content: center;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    div#pesquisar-medico div.form-group {
        width: 300px;
    }

    div#pesquisar-medico div#btn-filtro {
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    div#pesquisar-medico div.form-group {
        width: 300px;
    }
    
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    div#pesquisar-medico div.form-group {
        width: 500px;
    }


    
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

    div#div-agenda-main {
        min-height: 80vh;
    }

    div#cabecalho-agenda h1 {
        
    }
}